# python virtual environments
pybhjet_venv/
.venv/
venv/
env/
threeml_paper_env/

# python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# mac
.DS_Store

*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
dist/
build/
build-python39-backup/
